
@font-face {
    font-family: "NanumGothic";
    src: url("../fonts/NanumGothic.ttf") format("truetype");
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    font-family: "NanumGothic", serif;
    font-size: 14px;
}

body > #hufpy-app-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

button, input {
    font-family: inherit;
    font-size: inherit;
}

.hufpy-widget, .hufpy-widget-no-flex {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.hufpy-widget {
    display: flex;
}

.hufpy-widget[data-visible="false"] {
    display: none;
}

.huf-column-layout {
    display: flex;
    flex-flow: column;
}

.huf-row-layout {
    display: flex;
    flex-flow: row;
}

.hufpy-button {
    display: block;
    /* padding: 6px 12px;
    color: black;
    background-color: lightgray;
    border: 1px solid black; */
}

/* .hufpy-button:active {
    box-shadow: 0px 0px 2px 2px white inset;
}

.hufpy-button[data-toggled="true"] {
    color: white;
    background-color: darkgray;
} */

.hufpy-input[type="range"][orient="vertical"] {
    display: block;
    -webkit-appearance: slider-vertical;
}

.hufpy-window, .hufpy-dialog {
    display: flex;
    flex-flow: column;
    position: absolute;
}

.hufpy-window {
    z-index: 999;
}

.hufpy-dialog {
    z-index: 1000;
}

.hufpy-window-titlebar {
    display: flex;
    flex-flow: row;
}

.hufpy-modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
